{% extends 'base.html.twig' %}

{% block title %}Détails de l'utilisateur{% endblock %}

{% block body %}
    <div class="container text-center">
        <h1>Détails du profil</h1>

        <div class="d-flex justify-content-center mb-4">
            {% if user.photo %}
                <img src="{{ asset(user.photo) }}" alt="Photo de {{ user.firstName }}" 
                    style="width: 200px; height: 200px; object-fit: cover; border-radius: 50%;">
            {% endif %}
        </div>
        <div class="card shadow-sm w-50 mx-auto">

            <div class="card-body p-3" style="background-color: wheat;">
                <h5 class="card-title">{{ user.firstName }} {{ user.lastName }}</h5>
                <p class="card-text"><strong>Email :</strong> {{ user.email }}</p>
                <p class="card-text"><strong>Matricule :</strong> {{ user.matricule }}</p>
                <p class="card-text">
                    <strong>Téléphone :</strong> {{ user.telephone }}<br>
                    <strong>Service :</strong> {{ user.service }}<br>
                    <strong>Spécialité :</strong> {{ user.speciality }}
                </p>
                <p class="card-text"><strong>Date de naissance :</strong> {{ user.birthday ? user.birthday|date('d/m/Y') : 'Non défini' }}</p>
            </div>
            <div class="card-footer text-muted d-flex justify-content-between">
                <a href="{{ path('app_user_index') }}" class="btn btn-secondary">Retour sur mon profil</a>
                <div>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-primary">Modifier</a>
                    {{ include('user/deleteUser.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

